.search-wrapper {
  @apply w-1/2 relative flex justify-center items-center;

  .search {
    @apply bg-white rounded-lg;

    > input {
      @apply pl-4 pr-16 h-10 flex items-center text-black;
    }

    svg {
      @apply w-8 h-8  text-white
       bg-primary rounded-lg p-1.5;
    }
  }
}

.remove-clear-btn {
  &::-webkit-search-cancel-button,
  &::-webkit-search-clear-button {
    -webkit-appearance: none;
    appearance: none;
  }

  &::-ms-clear {
    display: none;
  }
}

.a {
  @apply flex items-center;
}

@import 'MediaSearch.module';
